    <md-toolbar>	  
      <h2 class="md-toolbar-tools">		
        <span><%= title %></span>
      </h2>
    </md-toolbar>

    <div style="height: 5px">
      <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>
    </div>